@model Followups.Models.UserViewModel
@{
    Layout = null;
}

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Follow Up</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/ssb/template/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/ssb/template/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/ssb/template/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/ssb/template/assets/images/favicon.png" />
    <style type="text/css">
        body, input {
            font-family: Calibri, Arial;
        }
    </style>
    <script type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
    </script>
</head>
<body style="background-color:#3199e5" onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="row w-100 m-0">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                    <div class="card col-lg-4 mx-auto">
                        <div class="card-body px-5 py-5">
                            <h3 class="card-title text-left mb-3">Login</h3>

                            @using (Html.BeginForm("index", "Login", FormMethod.Post, new { @id = "form1" }))
                            {

                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                @if (@ViewBag.Message != null)
                                {
                                    <div style="border: 1px solid red">
                                        @ViewBag.Message
                                    </div>
                                }
                                <div class="form-group">
                                    @Html.DropDownListFor(m => m.type,
                    new SelectList(Enum.GetValues(typeof(Followups.Models.Type))),
                    "Select User", new { @class = "form-control" })
                                    <br /><br />
                                    <label>Username or email *</label>

                                    @Html.TextBoxFor(a => a.username, new { @class = "form-control p_input" })
                                    <div class="user-icon"></div>
                                    @Html.ValidationMessageFor(a => a.username)

                                </div>
                                <div class="form-group">
                                    <label>Password *</label>



                                    @Html.PasswordFor(a => a.password, new { @class = "form-control p_input" })

                                    <div class="pass-icon"></div>

                                    @Html.ValidationMessageFor(a => a.password)

                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">
                                        </label>
                                    </div>
                                    <a href="#" class="forgot-pass">Forgot password</a>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-block enter-btn">Login</button>
                                </div>
                                <div class="d-flex">
                                    <button class="btn btn-facebook mr-2 col">
                                        <i class="mdi mdi-facebook"></i> Facebook
                                    </button>
                                    <button class="btn btn-google col">
                                        <i class="mdi mdi-google-plus"></i> Google plus
                                    </button>
                                </div>
                                <p class="sign-up">Don't have an Account?<a href="#"> Sign Up</a></p>
                            }
                        </div>
                        @if (ViewBag.Message != null)
                        {
                            <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
                            </script>
                        }
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- row ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <script src="../../assets/js/settings.js"></script>
    <script src="../../assets/js/todolist.js"></script>
    <!-- endinject -->
</body>
</html>
