@model Followups.Models.UserModel


@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add Employee</h4>
            <p class="card-description">  </p>

            @using (Html.BeginForm("AddUser", "Home", FormMethod.Post, new { @class = "forms-sample" }))
            {


                <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-9 ">

                        @Html.TextBoxFor(b => b.Employee.Name, new { @class = "form-control text-white",@required="required" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Type</label>
                    <div class="col-sm-9">

                        @Html.DropDownListFor(m => m.User.type,
                    new SelectList(Enum.GetValues(typeof(Followups.Models.Type))),
                    "Select User", new { @class = "form-control text-white" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">

                        @Html.TextBoxFor(b => b.Employee.Email, new { @class = "form-control", @required = "required" })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="exampleInputMobile" class="col-sm-3 col-form-label">Mobile</label>
                    <div class="col-sm-9">

                        @Html.TextBoxFor(b => b.Employee.Phone, new { @class = "form-control text-white" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-9">

                        @Html.PasswordFor(a => a.User.password, new { @class = "form-control text-white", @required = "required" })
                    </div>
                </div>


                <button type="submit" class="btn btn-primary mr-2">Submit</button>
              



            }
        </div>
    </div>
</div>